*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  direction: rtl;
  font-family: 'vazir' !important;
}

.app{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.control{
  width: 40vw;
}

.box{
  width: 40vw;
  height: 50vh;
  background: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.box p{
  background: rgb(139, 139, 139);
  border: 2px solid black;
  padding: 10px;
  width: 50%;
  text-align: center;
}